.ddlist {
    display: block;
    position: absolute;
    background-color: #117864;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.ddwrap {
    display: block;
    position: fixed;
}

.dropclick {
    width: 154px;
}